<div class="header">
  <div class="header__logo">
    <a routerLink="">
      <img src="../../../assets/img/touchcinema.png" alt="" />
    </a>
  </div>
  <div class="header__content">
    <div class="header__content__above">
      <div class="header__content__logo">
        <img src="../../../assets/img/dat-ve-ngay.png" alt="" />
      </div>
      <div class="header__content__search">
        <input type="text" placeholder="tìm kiếm" />
        <i class="fas fa-search"></i>
      </div>
      <div class="header__content__login-logout">
        <a routerLink="/auth/trangdangnhap"><button>ĐĂNG NHẬP</button></a>
        <a routerLink="/auth/trangdangky"> <button>ĐĂNG KÝ</button></a>
      </div>
    </div>
    <nav class="header__content__nav">
      <ul class="header__content__list">
        <li class="header__content__list--item">
          <a href="#">trang chủ </a>
        </li>
        <li class="header__content__list--item">
          <a>danh sách phim</a>
        </li>
        <li class="header__content__list--item">
          <a href="#">lịch chiếu</a>
        </li>
        <li class="header__content__list--item">
          <a href="#">giá vé</a>
        </li>
        <li class="header__content__list--item">
          <a href="#">giới thiệu</a>
        </li>
        <li class="header__content__list--item">
          <a href="#">dịch vụ</a>
        </li>
        <li class="header__content__list--item">
          <a href="#">liên hệ</a>
        </li>
        <li class="header__content__list--item noti-button">
          <i class="fa fa-bell"></i>
          <div class="notification">
            <div class="notification__header">
              <h6>Thông Báo</h6>
            </div>
            <div class="notification__list-item">
              <ul>
                <li>
                  <a href="">
                    <div class="notification__list-item__title">
                      <i class="fa fa-bell" aria-hidden="true"></i>
                      <span>LẬT MẶT 48H: đã mở bán vé</span>
                    </div>
                    <div class="notification__list-item__content">
                      <i class="fa fa-beer"></i>
                      <span>
                        Bối cảnh hoành tráng với sự đầu tư nghiêm túc, siêu phẩm
                        hành động Việt Lật Mặt 48h
                      </span>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="">
                    <div class="notification__list-item__title">
                      <i class="fa fa-bell" aria-hidden="true"></i>
                      <span>LẬT MẶT 48H: đã mở bán vé</span>
                    </div>
                    <div class="notification__list-item__content">
                      <i class="fa fa-beer"></i>
                      <span>
                        Bối cảnh hoành tráng với sự đầu tư nghiêm túc, siêu phẩm
                        hành động Việt Lật Mặt 48h
                      </span>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="">
                    <div class="notification__list-item__title">
                      <i class="fa fa-bell" aria-hidden="true"></i>
                      <span>LẬT MẶT 48H: đã mở bán vé</span>
                    </div>
                    <div class="notification__list-item__content">
                      <i class="fa fa-beer"></i>
                      <span>
                        Bối cảnh hoành tráng với sự đầu tư nghiêm túc, siêu phẩm
                        hành động Việt Lật Mặt 48h
                      </span>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="">
                    <div class="notification__list-item__title">
                      <i class="fa fa-bell" aria-hidden="true"></i>
                      <span>LẬT MẶT 48H: đã mở bán vé</span>
                    </div>
                    <div class="notification__list-item__content">
                      <i class="fa fa-beer"></i>
                      <span>
                        Bối cảnh hoành tráng với sự đầu tư nghiêm túc, siêu phẩm
                        hành động Việt Lật Mặt 48h
                      </span>
                    </div>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </li>
      </ul>
    </nav>
  </div>
</div>
