<div class="tab-content" id="myTabContent">
  <div>
    <h1 class="display-4 text-center text-warning">quản lý phòng chiếu</h1>
    <div class="container">
      <form
        #target
        #formRoom="ngForm"
        (ngSubmit)="addformRoom(formRoom.value)"
        class="container__form"
      >
        <div class="container__form__input">
          <input
            type="text"
            placeholder=""
            style="display: none"
            name="maPhong"
            #maphong="ngModel"
            ngModel
          />
        </div>
        <div class="container__form__input">
          <input
            type="text"
            placeholder="nhập vào tên phòng"
            #tenPhong="ngModel"
            required
            name="tenPhong"
            ngModel
          />
        </div>
        <span *ngIf="tenPhong.errors && (tenPhong.touched || tenPhong.dirty)">
          *tên phòng không để trống</span
        >
        <div class="container__form__input">
          <input
            type="text"
            placeholder="nhập vào số lượng chỗ ngồi"
            name="soLuongChoNgoi"
            required
            ngModel
            #soLuongChoNgoi="ngModel"
            pattern="^[1-9]\d*"
          />
        </div>
        <p
          *ngIf="
            soLuongChoNgoi.errors &&
            (soLuongChoNgoi.touched || soLuongChoNgoi.dirty)
          "
        >
          <span *ngIf="soLuongChoNgoi.errors.required"
            >*số lượng chỗ ngồi không cho để trống</span
          >
          <span *ngIf="soLuongChoNgoi.errors.pattern">*vui lòng nhập số</span>
        </p>
        <button
          #buttonAdd
          [disabled]="formRoom.invalid"
          class="btn btn-secondary mb-3"
        >
          thêm phòng mới
        </button>
        <button
          style="display: none"
          [disabled]="formRoom.invalid"
          #buttonUpdate
          class="btn btn-secondary mb-3"
        >
          cập nhật
        </button>
      </form>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-12"></div>
      </div>
      <div class="row">
        <div>
          <button
            style="display: none"
            #buttonCancel
            class="btn btn-secondary mb-3"
            (click)="cancel()"
          >
            hủy
          </button>
        </div>
      </div>
      <div class="findproduct">
        <input
          #input
          (input)="findName(input)"
          type="text"
          placeholder="nhập vào mã hoặc tên sp để tìm kiếm"
        />
      </div>

      <div>
        <div class="table">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>mã phòng</th>
                <th>tên phòng</th>
                <th>số lượng chỗ ngồi</th>
                <th>xóa</th>
                <th>sửa</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let room of listRoom">
                <td>
                  {{ room.maPhong }}
                </td>
                <td>{{ room.tenPhong }}</td>
                <td>{{ room.soLuongChoNgoi }}</td>

                <td>
                  <button
                    class="btn btn-danger"
                    (click)="deleteRoom(room.maPhong)"
                  >
                    <i class="fa fa-trash"></i>
                  </button>
                </td>
                <td>
                  <button
                    class="btn btn-primary"
                    #btnUpdate
                    [attr.data-tenPhong]="room.tenPhong"
                    [attr.data-maPhong]="room.maPhong"
                    [attr.data-soLuongChoNgoi]="room.soLuongChoNgoi"
                    (click)="update(btnUpdate)"
                    (click)="scroll(target)"
                  >
                    <i class="fa fa-edit"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
