<div class="tab-content" id="myTabContent">
  <div>
    <h1 class="display-4 text-center text-warning">quản lý danh sách vé đặt</h1>
    <div class="container">
      <form class="container__form"></form>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-12"></div>
      </div>
      <div class="findproduct">
        <input
          id="idInput"
          type="text"
          #input
          (input)="findName(input)"
          placeholder="nhập vào mã hoặc tên sp để tìm kiếm"
        />
      </div>

      <div>
        <div class="table">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>mã vé</th>
                <th>mã lịch chiếu</th>
                <th>tài khoản</th>
                <th>mã chỗ ngồi</th>
                <th>tổng tiền</th>
                <th>tên phim</th>
                <th>thời gian bắt đầu</th>
                <th>xóa</th>
              </tr>
            </thead>
            <tbody id="contentProduct">
              <tr *ngFor="let ticket of listBookingTicket">
                <td>
                  {{ ticket.maVe }}
                </td>
                <td>{{ ticket.maLichChieu }}</td>
                <td>{{ ticket.taiKhoan.taiKhoan }}</td>
                <td>
                  <span *ngFor="let slot of ticket.maChoNgoi">
                    {{ slot.tenGhe }}</span
                  >
                </td>
                <td>{{ ticket.tongTien }}</td>
                <td>{{ ticket.tenPhim }}</td>
                <td>{{ ticket.thoiGianBD }}</td>
                <td>
                  <button
                    class="btn btn-danger"
                    (click)="deleteTicket(ticket.maVe)"
                  >
                    <i class="fa fa-trash"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
