<div class="tab-content" id="myTabContent">
  <div>
    <h1 class="display-4 text-center text-warning">quản lý lịch chiếu</h1>
    <div class="container">
      <form class="container__form">
        <div class="container__form__input">
          <input type="text" placeholder="mã lịch chiếu" id="image" />
        </div>
        <div class="container__form__input">
          <select name="" id="">
            <option value="">chọn mã phim</option>
            <option value="">film_001</option>
            <option value="">film_002</option>
          </select>
        </div>
        <div class="container__form__input">
          <select name="" id="">
            <option value="">chọn phòng chiếu</option>
            <option value="">ph_001</option>
            <option value="">ph_002</option>
          </select>
        </div>
        <div class="container__form__input">
          <input
            placeholder="thời gian bắt đầu"
            id="amoutProduct"
            type="datetime-local"
          />
        </div>
        <div class="container__form__input">
          <input type="text" id="priceProduct" placeholder="giá vé" />
        </div>
        <div class="container__form__input">
          <input
            type="text"
            id="priceProduct"
            placeholder="nhập vào tên phim"
          />
        </div>
      </form>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-12"></div>
      </div>
      <div class="row">
        <div>
          <button id="addNewProduct" class="btn btn-secondary mb-3">
            thêm lịch chiếumới
          </button>
          <button
            style="display: none"
            id="idUpdate"
            class="btn btn-secondary mb-3"
          >
            cập nhật
          </button>
          <button
            style="display: none"
            id="cancelUpdate"
            class="btn btn-secondary mb-3"
          >
            hủy
          </button>
        </div>
      </div>
      <div class="findproduct">
        <input
          id="idInput"
          type="text"
          placeholder="nhập vào mã hoặc tên sp để tìm kiếm"
        />
      </div>

      <div>
        <div class="table">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>mã lịch chiếu</th>
                <th>mã phim</th>
                <th>mã phòng</th>
                <th>thời gian bắt đầu</th>
                <th>giá vé</th>
                <th>tên phim</th>
                <th>xóa</th>
                <th>sửa</th>
              </tr>
            </thead>
            <tbody id="contentProduct">
              <tr>
                <td>
                  <img style="width: 50px" src="" alt="" />
                </td>
                <td>item.id</td>
                <td>item.name</td>
                <td>item.description</td>
                <td>item.price</td>
                <td>item.inventory</td>
                <td>
                  <button class="btn btn-danger">
                    <i class="fa fa-trash"></i>
                  </button>
                </td>
                <td>
                  <button class="btn btn-primary">
                    <i class="fa fa-trash"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
