.container {
  max-width: 1200px;
}
.movie-slider {
  min-height: 500px;
  // background-image: url("https://touchcinema.com/uploads/phim-2021/the-misfits-domestic-one-sheet-int-1-poster.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center center;
  position: relative;
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
  }
  .trailer {
    .video-play-button {
      position: absolute;
      z-index: 10;
      top: 35%;
      left: 50%;
      box-sizing: content-box;
      display: block;
      width: 32px;
      height: 44px;
      border-radius: 50%;
      padding: 18px 20px 18px 28px;
      background-color: #ea3b92;
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      .fa.fa-play {
        font-size: 40px;
        color: #fff;
      }
    }
  }
}

.modal-dialog {
  .modal-content {
    background-color: transparent;
    box-shadow: none;
    border: none;
  }
  .modal-header {
    padding: 0;
    border-bottom: 0;
    .close {
      font-size: 50px;
      color: red;
      opacity: 1;
      position: absolute;
      right: -70px;
      top: -20px;
      z-index: 9;
      border-radius: 50px;
      width: 35px;
      height: 35px;
      margin-top: 0;
      line-height: 15px;
    }
  }
  .modal-body {
    width: 600px;
    .video-container {
      position: relative;
      padding-bottom: 56.25%;
      padding-top: 30px;
      height: 0;
      overflow: hidden;
      iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
  }
}
.movie-detail {
  padding: 15px;
  margin-top: -180px;
  position: relative;
  display: flex;
  justify-content: center;
  .poster {
    width: 300px;
    border: 2px solid #f29438;
    border-radius: 4px;
    margin-right: 15px;
    img {
      height: 100%;
      width: 100%;
    }
    flex: 2;
  }
  .detail {
    padding: 30px 15px 15px;
    flex: 5;
    .movie-name {
      height: 115px;
      margin-bottom: 15px;
      h1 {
        color: #ea3b92;
      }
      h2 {
        color: #fff;
        padding-bottom: 35px;
      }
    }
    .movie-under-name {
      padding: 15px;
      color: #fff;
      font-weight: 500;
      span {
        width: 110px;
        color: #ea3b92;
        display: inline-block;
        text-transform: capitalize;
        font-weight: 600;
      }
      button {
        background-image: url("../../../assets/img/icon-dat-ve.png");
        background-size: auto;
        background-position-x: left;
        background-repeat: no-repeat;
        border: 1px solid #ea3b92;
        background-color: #ea3b92;
        padding: 5px 28px;
        color: #fff;
        display: inline-block;
        margin: 10px 0;
        font-size: 22px;
        box-shadow: 2px 3px 0 #868686;
        text-transform: uppercase;
        a {
          text-decoration: none;
          color: #fff;
        }
      }
    }
  }
}
.content {
  margin: 40px 0;
  background: #ea3b92;
  color: #fff;
  padding: 20px 20px 20px 10px;
  margin-left: 15px;
  box-shadow: 7px 7px 1px #f29438;
}
.shown-time {
  h2 {
    color: #f29438;
    font-size: 18pt;
    font-weight: 700;
    border-bottom: 1px solid #f29438;
    width: 180px;
    padding-left: 10px;
    line-height: 35px;
  }
  .time {
    padding: 15px;
    background: #191025;
    color: #fff;
    text-align: center;
    box-shadow: 7px 7px 1px #f29438;
    font-size: 20px;
    button {
      border: 1px solid #f29438;
      background: #ea3b92;
      padding: 5px 30px 5px 10px;
      color: #fff;
      display: inline-block;
      margin: 10px;
      font-size: 22px;
      box-shadow: 7px 7px #f29438;
      text-transform: uppercase;
      a {
        text-decoration: none;
        color: #fff;
      }
    }
  }
}
