<div class="footer">
  <div class="footer__above">
    <div class="footer__above__item item-left">
      <h5>chăm sóc khách hàng</h5>
      <p><span>hotline: </span>0935864032</p>
      <p><span>giờ làm việc: </span> ngày làm cũng làm</p>
      <p><span>email: </span>phatdeptrai@gmail.com</p>
    </div>
    <div class="footer__above__item item-center">
      <h5>kết nối với chúng tôi</h5>
      <div class="item-center-icon">
        <a href="https://www.facebook.com/ng.va.ph.304" target="_blank"
          ><img src="../../../assets/img/icon-fb.png" alt=""
        /></a>
        <a href="https://www.youtube.com/watch?v=p0pjgTrFip8" target="_blank"
          ><img src="../../../assets/img/icon-ytb.png" alt=""
        /></a>
      </div>
      <h5>ứng dụng</h5>
      <div class="item-center-img">
        <img src="../../../assets/img/app-ios.png" alt="" />
        <img src="../../../assets/img/app-android.png" alt="" />
      </div>
      <a href="">Phiên bản Mobile</a>
    </div>
    <div class="footer__above__item item-right">
      <div class="item-right-item right-left">
        <a href="">điều khoản chung</a>
        <a href="">điều khoản giao dịch</a>
        <a href="">chính sách thanh toán</a>
        <a href="">chính sách bảo mật thông tin</a>
        <div class="bg">
          <img src="../../../assets/img/icon-email.png" alt="" />
          <span>đăng ký nhận tin</span>
        </div>
      </div>
      <div class="item-right-item right-right">
        <a href="">câu hỏi thường gặp</a>
        <a href="">hướng dẫn đặt vé online</a>
        <a href="">liên hệ</a>
        <a href="">tuyển dụng</a>
        <div>
          <img src="../../../assets/img/dathongbao.png" alt="" />
        </div>
      </div>
    </div>
  </div>
  <div class="footer__under">
    <img src="../../../assets/img/partner-2.png" alt="" />
  </div>
</div>
